@import url('https://fonts.cdnfonts.com/css/cascadia-code');

:root {
    --control-corner-radius: 8px;
    --animation-duration: 0.3s;
    --animation-ease: cubic-bezier(0.4, 0, 0.2, 1);
    --font-family: 'Cascadia Code', monospace;

    --background-color: #f1f1f1;
    --text-color: #333;
    --alt-text-color: #f3f3f3;
    --panel-background: #ffffffcc;
    --border-color: #ccc;
    --input-background-color: white;
    --button-background-color: #f1f1f1;
    --button-active-background-color: #dfdfdf;
    --accordion-button-hover-background-color: #dfdfdf;
    --pass-color: darkgreen;
    --fail-color: #db0000;
    --focus-color: darkgreen;
    --dotted-background: radial-gradient(#e2e2e2 5%, #ffffff1f 15%);
    --overlay-background: linear-gradient(135deg, #1e90ff2f 0%, #ffffff00 50%, #9acd322f 100%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #0e0e0e;
        --text-color: #f3f3f3;
        --alt-text-color: #333;
        --panel-background: #1e1e1ecc;
        --border-color: #555;
        --input-background-color: #2d2d2d;
        --button-background-color: #2d2d2d;
        --button-active-background-color: #3a3a3a;
        --accordion-button-hover-background-color: #3a3a3a;
        --pass-color: #4caf50;
        --fail-color: #f44336;
        --focus-color: yellowgreen;
        --dotted-background: radial-gradient(#383838 5%, #0000001f 15%);
        --overlay-background: linear-gradient(135deg, #66ccff2f 0%, #ffffff00 50%, #ccff662f 100%);
    }
}

* {
    transition: all var(--animation-duration) var(--animation-ease);
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-color);
    background: var(--background-color);
    margin: 0px;
    padding: 0px;
}

.dotted-background {
    background-position: 0 0, 14px 14px;
    background-size: 16px 16px;
    width: 100%;
    height: 100%;
    background-image: var(--dotted-background);
    position: fixed !important;
    z-index: -1;
}

.overlay-background {
    background: var(--overlay-background);
    width: 100%;
    height: 100%;
    position: fixed !important;
    z-index: -2;
}

header {
    position: fixed;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    background: var(--panel-background);
    padding: 20px;
    border-radius: var(--control-corner-radius);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    z-index: 1000;
    backdrop-filter: blur(10px);
    transition: top var(--animation-duration) var(--animation-ease), border-radius var(--animation-duration) var(--animation-ease);
}

body.results-fetched header {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

body.results-fetched .input-container {
    display: none;
}

.back-button {
    display: none;
}

body.results-fetched .back-button {
    display: block;
}

header label {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 30px;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

input {
    padding: 12px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    border: 1px solid var(--border-color);
    border-radius: var(--control-corner-radius);
    background-color: var(--input-background-color);
    color: inherit;
    flex: 1;
    min-width: 20px;
}

input:hover {
    border-color: var(--focus-color);
}

button {
    padding: 12px;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 600;
    border: 1px solid var(--border-color);
    background-color: var(--button-background-color);
    border-radius: var(--control-corner-radius);
    cursor: pointer;
    color: inherit;
    flex-shrink: 0;
}

button:hover {
    border-color: var(--focus-color);
    color: var(--focus-color);
    background-color: transparent;
}

button:active {
    background-color: var(--button-active-background-color);
    color: inherit;
}

main {
    padding: 118px 32px 98px 32px;
    color: inherit
}

.card {
    background: var(--panel-background);
    border-radius: var(--control-corner-radius);
    padding: 20px;
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px);
}

.info-table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    background-color: transparent;
    color: var(--text-color);
}

.label-cell {
    font-weight: bold;
    padding: 8px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--text-color);
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100px;
}

.value-cell {
    padding: 8px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--text-color);
}

.pass-message {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--pass-color);
}

.fail-message {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--fail-color);
}

.accordion-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.accordion-button {
    width: 100%;
    height: 180px;
    background-color: var(--button-background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--control-corner-radius);
    padding: 10px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.accordion-button:hover {
    background-color: var(--accordion-button-hover-background-color);
    border-color: var(--focus-color);
}

.accordion-button-fail:hover {
    border-color: var(--fail-color);
}

.details-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.subject-text {
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    text-align: start;
}

.badge-area {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.badge {
    padding: 5px 10px;
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 600;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
}

.badge-pass {
    border-color: var(--pass-color);
    color: var(--pass-color);
}

.badge-fail {
    border-color: var(--fail-color);
    color: var(--fail-color);
}

.badge-distinction {
    background-color: silver;
    border-color: #444;
    color: #444;
}

.badge-honors {
    background-color: gold;
    border-color: #444;
    color: #444;
}

.total-text {
    font-family: var(--font-family);
    font-size: 72px;
    font-weight: 800;
    color: var(--text-color);
}

.accordion-item-content {
    display: none;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 var(--control-corner-radius) var(--control-corner-radius);
    background-color: var(--panel-background);
    color: var(--text-color);
    animation: slideDown var(--animation-duration) var(--animation-ease);
    margin-top: calc(-1 * var(--control-corner-radius));
    padding-top: calc(10px + var(--control-corner-radius));
    position: relative;
    z-index: -1;
}

.accordion-item-content p {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: right;
    justify-content: center;
    transition: none;
}

footer p {
    margin-right: 108px;
    margin-left: 16px;
}

body.results-fetched footer {
    background: var(--panel-background);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    bottom: 8px;
    border-radius: var(--control-corner-radius);
    right: 9px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--focus-color);
}

.footer-button {
    padding: 8px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: var(--control-corner-radius);
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    bottom: 8px;
}

.profile-button {
    right: 58px;
}

.github-button {
    right: 8px;
}

.footer-button:hover {
    border: 1px solid var(--focus-color);
}

.github-svg-path {
    fill: var(--text-color);
}

.footer-button:hover .github-svg-path {
    fill: var(--focus-color);
}

@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }

    to {
        max-height: 500px;
        opacity: 1;
    }
}