@import url('https://shankarbus.github.io/kaadu-ui/kaadu-ui.css');

:root {
    --fail-color: #db0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fail-color: #f44336;
    }
}

header {
    position: fixed;
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
    background: var(--panel-background);
    padding: 20px;
    border-radius: var(--control-corner-radius);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    z-index: 1000;
    backdrop-filter: var(--blur-effect);
    transition: top var(--animation-duration) var(--animation-ease), border-radius var(--animation-duration) var(--animation-ease);
}

body.results-fetched header {
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
    border-radius: 0px;
    border-width: 0px 0px 1px 0px;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body.results-fetched .input-container {
    display: none;
}

.header-button {
    display: none;
}

body.results-fetched .header-button {
    display: block;
}

header label {
    font-size: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-container {
    display: flex;
    width: 100%;
    gap: 10px;
}

input {
    flex: 1;
    min-width: 20px;
}

#main {
    padding: 32px;
    padding-bottom: 76px;
    top: 86px;
}

.result-group {
    align-items: stretch;
}

.pass-message {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--focus-color);
}

.fail-message {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: var(--fail-color);
}

.expander-button {
    height: 180px;
}

.expander-button-fail:hover {
    border-color: var(--fail-color);
}

.details-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.subject-text {
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    text-align: start;
}

.badge-area {
    flex-wrap: nowrap;
}

.badge-pass {
    border-color: var(--focus-color);
    color: var(--focus-color);
}

.badge-fail {
    border-color: var(--fail-color);
    color: var(--fail-color);
}

.badge-distinction {
    background-color: silver;
    border-color: #444;
    color: #444;
}

.badge-honors {
    background-color: gold;
    border-color: #444;
    color: #444;
}

.total-text {
    font-family: var(--font-family);
    font-size: 72px;
    font-weight: 800;
    color: var(--text-color);
}

footer {
    display: flex;
    gap: 8px;
    padding: 8px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    text-align: right;
    align-items: center;
    justify-content: space-between;
    transition: none;
}

footer p {
    margin: 0px 8px;
}

body.results-fetched footer {
    background: var(--panel-background);
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    bottom: 8px;
    border-radius: var(--control-corner-radius);
    right: 8px;
}

.footer-button {
    padding: 8px;
    height: 42px;
    width: 42px;
    border: 1px solid transparent;
    background-color: transparent;
}

.footer-svg-path {
    fill: var(--text-color);
}

.footer-button:hover .footer-svg-path {
    fill: var(--focus-color);
}

.footer-img {
    background-color: #0e0e0e;
    border-radius: 12px;
}
